[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "impactr"]
	path = impactr
	url = https://github.com/verasls/impactr
[submodule "lvmisc"]
	path = lvmisc
	url = https://github.com/verasls/lvmisc
